/* your styles go here */
.fp-next {
    border-color: transparent transparent transparent black !important;
    right: 50px !important;
}

.fp-prev {
    border-color: transparent black transparent transparent !important;
    left: 50px !important;
}