/* your styles go here */
.fp-next {
    border-color: transparent transparent transparent black !important;
    right: 20px !important;
    opacity: 0.7 !important;
}

.fp-prev {
    border-color: transparent black transparent transparent !important;
    left: 20px !important;
    opacity: 0.7 !important;
}

.content {
    overflow: visible !important;
}

.fp-completely {
    height: 100% !important;
}

video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
 	background: url('../img/macbook-juice.jpg') center center no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}

.mute-icon, .unmute-icon {
    width: 24px;
    height: 24px;
    border: none;
}

.mute-icon {
    background: url('../img/icons/mute.png') center center no-repeat;
}

.unmute-icon {
    background: url('../img/icons/unmute.png') center center no-repeat;
}

.mute-icon:focus,
.unmute-icon:focus {
    outline: none;
}

.sound-icon {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 3;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: 5px solid #eaeaea;  /* Reset default border */
    outline: 1px solid #bfbfbf;
    height: 80vh;        /* Viewport-relative units */
    
}
